<div style="text-align: center">
    <div class="ezirp_header_logo">   {#margin:첫번째 숫자는 상하 , 두번째 숫자는 좌우 #}
        <h1> ezirp </h1>

    </div>
    <div class="ezirp_header_button">
        <span>
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span>
            <a href="{% url 'projectapp:list' %}">
                Projects
            </a>
        </span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
           <a href="{%  url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% else %}
            <span>
            <a href="{%  url 'accountapp:detail'  pk=user.pk %}">        {# 요청을 보내고있는 user의 primary key #}
                MyPage
            </a>
            </span>

            <span>
            <a href=" {% url "accountapp:logout" %}">
            Logout

            </a>
        </span>

        {% endif %}
    </div>

</div>